@media (min-width: 768px) {
  .navbar-header {
    float: right !important;
  }
}

.nav-btn {
  padding: 0;
  margin-right: 5px;
}

.nav-btn-login {
  padding: 15px;
}

.navigation-right{
  float: right;
}
