<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
        <a class="navbar-brand" href="#" ng-bind="nav.user.username || ''"></a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
        <ul class="nav navbar-nav">
            <li><a href="#/">home</a></li>
            <li ng-if="!nav.isLogged()"><a href="#/login">login</a></li>
            <li ng-if="!nav.isLogged()"><a href="#/register">register</a></li>
        </ul>
        <div class="nav navbar-nav pull-right" ng-if="nav.isLogged()">
            <span class="btn btn-default" ng-click="nav.logout()">Logout</span>
        </div>
    </div>
</nav>
