<div class="container main-content">
    <form ng-submit="onSubmit()" novalidate="novalidate">
        <!-- Enter Name -->
        <div class="form-group">
            <label for="name" class="control-label">Name</label>
            <input type="text" class="form-control" ng-model="formModel.name" ng-pattern="/[a-zA-Zа-яА-Я]+/" ng-pattern-err-type="badName" id="name" required="" placeholder=" Petar Petrov">
        </div>
        <!-- User Age-->
        <div class="form-group">
            <label for="age" class="control-label">Age</label>
            <input type="number" class="form-control" ng-model="formModel.age" min="18" id="age" ng-min-err-type="tooYoung" required="" placeholder="Enter your age">
        </div>
        <!-- Enter E-mail -->
        <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <input type="email" class="form-control" ng-model="formModel.email" id="email" required="" placeholder="Example: mail@mail.net">
        </div>
        <!-- Enter Username -->
        <div class="form-group">
            <label for="username" class="control-label">Username</label>
            <input type="text" class="form-control" ng-model="formModel.username" ng-pattern="/^[A-Za-z0-9_]{1,32}$/" ng-minlength="7" ng-pattern-err-type="badUsername" id="username" required="" placeholder="Enter your username">
        </div>
        <!-- Enter Password -->
        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" class="form-control" ng-model="formModel.password" ng-minlength="7" id="password" required="" placeholder="Enter your password">
        </div>
        <!-- Register button -->
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
</div>
