<div class="contentWrapper">


  <div class="filterWrapper flexbox">
    <div class="container-flud">
      <div class="row">
        <div class="col-lg-12">
          <button ng-click="home.checkForUser()" class="btn btn-primary btn-publishing">publish</button>
        </div>
      </div>

      <div class="search-article-header">Search by:</div>
      <div class="row">
        <div class="col-lg-12">
          <label for="types">Types</label>
          <select ng-model="typeValue" ng-required="true" class="form-control" id="types">
             <option ng-repeat="type in home.types">{{type}}</option>
          </select>

          <label for="price">Price</label>
          <input type="text" id="price" class="form-control" ng-model="priceValue"></input>

          <button ng-click="home.searchByType(typeValue, priceValue)" class="btn btn-primary btn-publishing top-20">search</button>
        </div>
      </div>
    </div>
  </div>

  <div class="pageMainContentWrapper flexbox">
    <label for="order-select">Sort By:</label>
    <div class="row">
      <div class="col-md-3">
        <select id="order-select" class="form-control" ng-model="sortBy">
          <option ng-show="false"></option>
          <option value="price">Lowest price</option>
          <option value="-price">Highest price</option>
        </select>
      </div>
    </div>
    <br/>
    <div class="panel-group" aria-multiselectable="true" start-collapsed="true" role="tablist" bs-collapse>
      <collapse-content alert="home.alert" ng-repeat="ad in home.ads | orderBy: sortBy" is-logged-in="home.isLoggedIn()" on-edit="home.onEdit"
        on-delete="home.onDelete(id)" body="ad"></collapse-content>
    </div>
  </div>


  <div class="mapWrapper flexbox">
    <div id="mapHolder">

      <div id="gmap"></div>

    </div>
  </div>
</div>
