<div class="contentWrapper">

  <div class="filterWrapper flexbox">
    <div class="container-flud">
      <div class="row">
        <div class="col-lg-12">
          <a href="#/publish" class="btn btn-primary btn-publishing">publish</a>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-12">



        </div>
      </div>

    </div>
  </div>

  <div class="pageMainContentWrapper flexbox">
    <label for="order-select">Order By:</label>
    <div class="row">
      <div class="col-md-3">
        <select id="order-select" class="form-control" ng-model="sortBy">
          <option ng-show="false"></option>
          <option value="price">Lowest price</option>
          <option value="-price">Highest price</option>
        </select>
      </div>
    </div>
    <br/>
    <div class="panel-group" aria-multiselectable="true" start-collapsed="true" role="tablist" bs-collapse>
      <collapse-content ng-repeat="ad in home.ads | orderBy: sortBy" is-logged-in="home.isLoggedIn()" on-edit="home.onEdit" on-delete="home.onDelete(id)"
        header="ad.title" body="ad"></collapse-content>
    </div>
  </div>


  <div class="mapWrapper flexbox">
    <div id="mapHolder">

      <map ng-if="home.ads.length > 0" ads="home.ads"></map>

    </div>
  </div>
</div>
