<div class="container containerPublishing container-login">
  <form class="form-signin title text-center" ng-submit="login.submit()" name="loginForm">
    <h2 class="form-signin-heading ">Please sign in</h2>
    <label for="username" class="sr-only">Username</label>
      <input
        name="username"
        type="text"
        id="username"
        class="form-control"
        placeholder="Username"
        required
        autofocus
        ng-model="login.username">

    <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        required
        ng-model="login.password"
        name="password">

    <button class="btn btn-lg btn-primary btn-block top-20" type="submit" ng-disabled="!loginForm.username.$valid || !loginForm.password.$valid">Sign in</button>
  </form>

  <div ng-if="login.hasFailed" class="alert alert-danger">
    <strong>Error!</strong> Username or password does not exist
  </div>

  <div ng-if="login.hasLoggedIn" class="alert alert-success">
    <strong>Congratz!</strong> You have logged in successfully
  </div>
</div>
