<div class="container containerPublishing" >
    <div class="row">
        <div class="col-lg-12">
            <div class="title text-center">Posting ads</div>

            <form name="formPublishing" ng-submit="submit(formPublishing.$valid)">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="title">Title:</label>
                              <input
                                name="title"
                                type="text"
                                class="form-control"
                                id="title"
                                placeholder="Enter a Title"
                                ng-model="title"
                                ng-required="true">

                            <div class="error-messaging" ng-show="formPublishing.title.$touched && formPublishing.title.$invalid">
                                <small class="error-messaging">Please, enter a Title!</small>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-6">
                        <div>
                            <div class="form-group">
                                <label for="types">Types:</label>
                                <select ng-required="true" class="form-control" id="types">
                                        <option ng-model="type" ng-repeat="option in options" value="{{option.id}}">{{option.type}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <label for="button-forAttach">Attach picture:</label>
                        <br>
                        <label class="btn btn-primary btn-file">
                              Attach picture: <input type="file" style="display: none;">
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="name">Full Name:</label>
                              <input
                                name="name"
                                type="text"
                                class="form-control"
                                placeholder="Enter Your full name"
                                id="name"
                                ng-model="author"
                                ng-required="true"
                                ng-pattern="/^([a-zA-Z]{2,}\s[a-zA-z]{1,}'?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?)/">
                                <!-- will cover and cases like this one
                                John D'Largy
                                John Doe-Smith -->
                            <div class="error-messaging" ng-show="formPublishing.name.$touched && formPublishing.name.$invalid">
                                <small class="error-messaging">Please, enter your full name!</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="phone">Phone Number:</label>
                              <input
                                name="telephone"
                                type="tel"
                                class="form-control"
                                placeholder="Enter a phone number"
                                id="phone"
                                ng-model="contacts"
                                ng-required="true"
                                ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im">

                            <div class="error-messaging" ng-show="formPublishing.telephone.$touched && formPublishing.telephone.$invalid">
                                <small class="error-messaging">Please, enter your phone number!</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="location">Location:</label>
                              <input
                                name="location"
                                type="text"
                                class="form-control"
                                id="location"
                                ng-model="location"
                                ng-required="true">

                            <div ng-model="lat" id="lat"></div>
                            <div ng-model="lng" id="lng"></div>


                            <div class="error-messaging" ng-show="formPublishing.location.$touched && formPublishing.location.$invalid">
                                <small class="error-messaging">Please, enter an address!</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="price">Price:</label>
                              <input
                                name="price"
                                type="number"
                                min="1"
                                class="form-control"
                                placeholder="Enter a price"
                                id="price"
                                ng-model="price"
                                ng-required="true"
                                ng-pattern="/^\s*(\+|-)?((\d+(\.\d\d)?)|(\.\d\d))\s*$/">

                            <div class="error-messaging"
                            ng-show="formPublishing.price.$touched && formPublishing.price.$invalid">
                                <small class="error-messaging">Please, enter a price for your Ad!</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="description">Description:</label>
                              <textarea
                                name="description"
                                class="form-control"
                                rows="15"
                                id="description"
                                ng-required="true"
                                ng-model="description"
                                ></textarea>


                            <div class="error-messaging"
                              ng-show="formPublishing.description.$touched && formPublishing.description.$invalid">
                                  <small class="error-messaging">Please, enter a description text!</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-lg-offset-6 text-right">
                    <button
                      class="btn btn-primary btn-lg"
                      type="button"
                      name="button"
                      id="button-forSubmit"
                      ng-click="SendData()"
                      ng-disabled="formPublishing.$invalid">Submit</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
