<form id="form-edit" ng-submit="onEdit(body)">
  <div id="alerts-container"></div>
  <div class="input-group">
    <label>Contacts</label>
    <input  ng-model="body.contacts" type="text" class="form-control" />
  </div>

  <div class="input-group">
    <label>Type</label>
    <input  ng-model="body.type" type="text" class="form-control" />
  </div>

  <div class="input-group">
    <label>Price</label>
    <input ng-model="body.price" type="number" class="form-control" />
  </div>

  <div class="input-group">
    <label>Description</label>
    <input ng-model="body.description" type="text" class="form-control" />
  </div>

  <div class="input-group">
    <label>Address</label>
    <input ng-model="body.address" type="text" class="form-control" />
  </div>

  <br/>

  <div class="input-group">
    <input type="submit" class="form-control btn btn-primary" value="Save" container="div" placement="top"  duration="3" bs-alert="alert"/>
  </div>
</form>