<form ng-submit="onEdit(body)">
  <div class="input-group">
    <label for="authorInput">Type</label>
    <input id="authorInput" ng-model="body.type" type="text" class="form-control" />
  </div>

  <div class="input-group">
    <label for="authorInput">Guests</label>
    <input id="authorInput" ng-model="body.guests" type="number" class="form-control" />
  </div>

  <div class="input-group">
    <label for="authorInput">Price</label>
    <input id="authorInput" ng-model="body.prise" type="number" class="form-control" />
  </div>

  <div class="input-group">
    <label for="authorInput">Description</label>
    <input id="authorInput" ng-model="body.description" type="text" class="form-control" />
  </div>

  <div class="input-group">
    <label for="authorInput">Location</label>
    <input id="authorInput" ng-model="body.location" type="text" class="form-control" />
  </div>

  <div class="input-group">
    <label for="authorInput">Beds</label>
    <input id="authorInput" ng-model="body.bed" type="number" class="form-control" />
  </div>

  <br/>

  <div class="input-group">
    <input type="submit" class="form-control btn btn-primary" value="Save" />
  </div>
</form>
